.fwe1122 {
  /* border: 2px solid red; */
  width: 241px;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #800080;

  margin-top: 70px;
  margin-left: 189px;
}

.lo2233 {
  display: flex;
}

.car123 {
  height: 228px;
  width: 358px;
  background: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  border-radius: 20px;
  margin-left: 226px;
}

.car1234 {
  height: 228px;
  width: 358px;
  background: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  border-radius: 20px;
  margin-left: 20px;
}

.h5555 {
  display: flex;
}

.Dhiraj {
  width: 124px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;

  margin-top: 20px;
  margin-left: 20px;
}

.Dhiraj11 {
  width: 83px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  margin-left: 111px;
  margin-top: 20px;
}

.cou11 {
  width: 141px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  margin-top: 10px;
  margin-left: 20px;
}

.firstbut {
  display: flex;
  margin-top: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* border: 2px solid red; */
  /* color: #ffffff; */
}

.UIXI {
  /* padding: 10px; */
  width: 34px;
  height: 21px;
  margin-left: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.Photoshop {
  padding-left: 12px;
  margin-left: 23px;
  width: 110px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.Illustrator {
  padding-left: 20px;
  margin-left: -14px;
  width: 110px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #e5e5e5;
}

.secondbut {
  display: flex;
  margin-top: 14px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.Python {
  width: 77px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  margin-left: 25px;
}

.MERN {
  width: 38px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  margin-left: 10px;
  color: #ffffff;
}

.Java {
  width: 35px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  margin-left: 40px;

  color: #ffffff;
}

.lo5511 {
  /* border: 2px solid red; */
  margin-top: 27px;
}

.Ra55 {
  width: 130px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  margin-left: -145px;
  color: #ffffff;
}

.Ru185 {
  width: 55px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #ffffff;
}

.h8523 {
  width: 5px;
  height: 25px;
  margin-left: 12px;
  border: 1px solid #e5e5e5;
}

/* 3rd */

.car12345 {
  height: 228px;
  width: 358px;
  background: linear-gradient(267deg, #e5e5e5 39%, #ff864c 41%);
  border-radius: 20px;
  margin-left: 20px;
  color: #e5e5e5;
}

.TC11 {
  width: 159px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
margin-left: 187px;
margin-top: 60px;
margin-bottom: 72px;
  color: #800080;
}


@media screen and (max-width: 428px) {

  .fwe1122 {
    
    margin-left: 35px;
  }

  .lo2233 {
    display: inline;
  }

  .car123 {
    margin-top: 20px;
    margin-left:35px;
  }
  .car1234 {
    margin-top: 20px;
    margin-left:35px;
  }
  .car12345 {
    margin-top: 20px;
    margin-left:35px;
    /* background: linear-gradient(267deg, #e5e5e5 39%, #ff864c 41%); */
    background: linear-gradient(270deg, #800080 0%, #FF864C 100%);

  }

  .TC11 {
    
  margin-left: 35px;
  
  }

  
}
